<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Docker Monitor</title>
  <style>
    .stats-table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #000;
      text-align: center;
    }

    .stats-table td, .stats-table th {
      border: 1px solid #000;
      padding: 5px 10px;
    }

    .stats-table tr:nth-child(even) {
      background-color: #eee; 
    }
  </style>

  <script>
    var reloadBody = function() {
      var url = window.location.href;
      var xhttp = new XMLHttpRequest(); 
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          let bodyTag = document.getElementsByTagName("body")[0];
          var parser = new DOMParser();
          var remoteDocument = parser.parseFromString(this.responseText, 'text/html');
          let remoteBodyTag = remoteDocument.getElementsByTagName("body")[0];
          bodyTag.innerHTML = remoteBodyTag.innerHTML;
        }
      };
      xhttp.open("GET", url, true);
      xhttp.send();
    }

    // Hard reloader
    var reloader = setInterval(() => { location.reload(); }, 300000);

    // Hard reloader
    var reloader = setInterval(() => { reloadBody(); }, 3000);
  </script>
</head>
<body>
  <h1>Currently Running Docker Containers (<%= @current_time %>)</h1>

  <table class="stats-table">
    <% @stats.each_with_index do |row, row_num| %>
      <tr>
        <% if row_num == 0 %>
          <% row.each do |col| %>
            <th scope="col"><%= col %></th>
          <% end %>
        <% else %>
          <% row.each_with_index do |col, col_num| %>
            <% if col_num == 0 %>
              <th scope="row"><%= col %></th>
            <% else %>
              <td><%= col %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</body>
</html>
